<div class="modal-overlay" *ngIf="_showModal">
  <div class="modal-dialog">
    <div class="header">
      <button class="modalCloseBtn" (click)="onModalClose()">X</button>
    </div>
    <div class="body">
      <div class="avatar">
        <img src="./../../../assets/images/{{productData.image[0]}}" alt="">
      </div>
      <div class="desc">
        <h2>{{productData.title}}</h2>
        <h5>{{productData.packSize}} Pack</h5>

        <h3 class="rate"
          app-mrp-display
          mP="{{productData.marketPrice}}"
          sP="{{productData.sellingPrice}}"
          unit="{{productData.unitName}}"
          vat="{{productData.vat}}"
          gst="{{productData.gst}}">
        </h3>

        <h4>{{productData.desc}}</h4>

        <p>Specification:</p>
        <ol>
          <li *ngFor="let item of productData.spec">
            {{item}}
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
