.cart-root {
  padding: 1rem;

  .header {

    .btn {
      outline: none;
      border: 0;

      padding: 5px;
      font-size: 15px;
      border-radius: 3px;
      cursor: pointer;

      &.primary {
        background-color: #4a4aff;
        color: white;
        border: 1px solid #0b36c3;
      }

      &.success {
        background-color: #1ee41e;
        color: white;
        border: 1px solid #0bc30b;
      }
    }
  }

  .body {
    margin-top: 2rem;
    text-align: center;

    ul {
      li {
        position: relative;
        display: flex;
        flex-direction: row;
        box-shadow: 0 0 8px -2px #545454;
        border-radius: 3px;
        padding: 0.5rem 0.7rem;
        margin-bottom: 1rem;
        text-align: left;

        .avatar {
          margin-right: 1.5rem;
          img {
            width: auto;
            height: 5rem;
          }
        }

        .details {
          flex-grow: 2;
          h3 {
            margin-bottom: 10px;
          }
          h4 {
            margin-top: 7px;
          }
        }

        .controls {
          display: flex;
          flex-direction: column;

          .add-remove-ctrl {
            margin-top: -15px;
          }

          .btn-delete {
            margin-top: 10px;
            border: 0;
            outline: 0;
            background-color: transparent;
            cursor: pointer;

            img {
              height: 20px;
              width: auto;
            }
          }
        }
      }
    }
  }

  .footer {
  }
}
