.mrp-container {
  margin-top: 10px;

  .strike-through {
    text-decoration: line-through;
    text-decoration-color: black;
    color: red;
}

p {
    margin: 1px 0;
    font-size: 0.4rem;
}

span {
    font-weight: bold;
    font-size: 0.8rem;
}

.discount-price {
  // font-size: 0.9rem;
    color: #21cb21;
    font-style: italic;
}

.mrp-tag {
  letter-spacing: 2px;
  color: grey;
}

}
